<div class="jumbotron text-center">
<h2>Peeps!</h2>
<div class="btn-group" role="group" aria-label="People Groups">
<button type="button" class="btn btn-defaut">All</button>
<button type="button" class="btn btn-defaut">My Frands</button>
<button type="button" class="btn btn-defaut">Requests</button>
<button type="button" class="btn btn-defaut">Pending</button>

</div>
</div>

<div class="container">
<div class="row">
<%= render @users %>
</div>
</div>